#version: "3.8"

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15.3
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: taskvault_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d taskvault_db"]
      interval: 5s
      timeout: 3s
      retries: 10

  # PGAdmin (Management for Postgres)
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@taskvault.de
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres

  taskvault:
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      PERSISTENCE_UNIT: taskvault-unit
    #environment:
      #RUN_MODE: PRODUCTION
      #DATABASE_URL: jdbc:postgresql://postgres:5432/taskvault_db
      #DATABASE_USER: admin
      #DATABASE_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-data:
  pgadmin-data:
