name: Taskvault CI Build & Test

on:
  push:
    branches: [main, develop, feature/*]
  pull_request:
    branches: [main, develop, feature/*]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: self-hosted
    container: maven:3.9.7-eclipse-temurin-17
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and Test (Maven)
        run: mvn -B clean verify
        working-directory: java-project/taskvault

      - name: Upload API Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-test-reports
          path: java-project/taskvault/api/target/surefire-reports/

      - name: Upload Storage Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: storage-test-reports
          path: java-project/taskvault/storage/target/surefire-reports/

      - name: Upload API JAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-jar
          path: java-project/taskvault/api/target/taskvault-api.jar

      - name: Upload Storage JAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: storage-jar
          path: java-project/taskvault/storage/target/storage-1.0-SNAPSHOT.jar

  lint:
    runs-on: self-hosted
    container: maven:3.9.7-eclipse-temurin-17
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Checkstyle (Linting)
        run: mvn checkstyle:checkstyle
        working-directory: java-project/taskvault

      - name: Upload Checkstyle Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: java-project/taskvault/target/checkstyle-result.xml