name: Taskvault CI Build & Test

on:
  push:
    branches: [main, develop, feature/*]
  pull_request:
    branches: [main, develop, feature/*]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: self-hosted
    container: maven:3.9.7-eclipse-temurin-17

    defaults:
        run:
            working-directory: java-project/taskvault
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build and Test (Maven)
        run: mvn -B clean verify
    #working-directory: java-project/taskvault

      - name: Upload API Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-test-reports
          path: api/target/surefire-reports/

      - name: Upload Storage Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: storage-test-reports
          path: storage/target/surefire-reports/

      - name: Upload API JAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-jar
          path: api/target/taskvault-api.jar

      - name: Upload Storage JAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: storage-jar
          path: storage/target/storage-*.jar
          
  lint:
    runs-on: self-hosted
    container: maven:3.9.7-eclipse-temurin-17

    defaults:
      run:
        working-directory: java-project/taskvault

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Clean Maven google-collections cache
        run: rm -rf ~/.m2/repository/com/google/collections

      - name: Clean Maven google-collections cache (root)
        run: sudo rm -rf /root/.m2/repository/com/google/collections || true

      - name: Remove complete Maven cache (optional)
        run: rm -rf ~/.m2/repository


      - name: Run Checkstyle (Lint API)
        run: mvn -pl api checkstyle:checkstyle

      - name: Run Checkstyle (Lint Storage)
        run: mvn -pl storage checkstyle:checkstyle

      - name: List Checkstyle Files
        run: find . -name "checkstyle-result.xml"

      - name: Upload Checkstyle Report (API)
        #if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-lint-report
          path: api/target/checkstyle-result.xml

      - name: Upload Checkstyle Report (Storage)
        #if: always()
        uses: actions/upload-artifact@v4
        with:
          name: storage-lint-report
          path: storage/target/checkstyle-result.xml

      # - name: Run Checkstyle (Linting)
      #   run: mvn checkstyle:checkstyle -Dcheckstyle.config.location=google_checks.xml -Dcheckstyle.output.format=xml
      #   working-directory: java-project/taskvault
      #
      # - name: Upload Checkstyle Report
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: checkstyle-report
      #     path: java-project/taskvault/target/checkstyle-result.xml

